.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 100px;
    background-color: var(--ternary-color);
    color: var(--primary-color);
    font-family: var(--font-mono);
  }